:root {
    --delay: .3s;
    --shad-one-z: 215px;
    --shad-two-z: 120px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    background-color: #485461;
    background-image: linear-gradient(135deg, #485461 0%, #28313b 75%);
    overflow: hidden;
    transform-style: preserve-3d; 
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 3rem;
}

.menu {
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.logo {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 4rem;
    user-select: none;
}

.logo span {
    font-weight: 300;
}

.hamburger-menu {
    height: 4rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    user-select: none;
    outline: none;
}

.bars {
    width: 1.9rem;
    height: 1.5px;
    border-radius: 2px;
    background-color: #eee;
    transition: var(--delay);
    position: relative;
}

.bars::before, .bars::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #eee;
    transition: var(--delay);
}

.bars::before {
    transform: translateY(-9px)
}

.bars::after {
    transform: translateY(9px)
}


.main {
    position: relative;
    width: 100%;
    left: 0;
    z-index: 5;
    background-color: #fff;
    overflow: hidden;
    transform-origin: left;
    transform-style: preserve-3d; 
    transition: var(--delay);
}

header {
    min-height: 100vh;
    width: 100%;
    background: url("./jerry-zhang.jpg") no-repeat top center / cover;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(43,51,59,.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    max-width: 35rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 0 2rem;
}

.title {
    font-size: 2.7rem;
    margin-bottom: .75rem;
    user-select: none;
}

.inner p {
    line-height: 1.5rem;
    text-align: center;
}

.btn {
    margin-top: 1rem;
    padding: .6rem 1.8rem;
    background-color: #1179e7;
    border: none;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: var(--delay);
    user-select: none;
    outline: none;
}
.btn:hover {
    background-color: #007afd;
    box-shadow:
     0 0 5px 5px #ffffff0d,
     inset 0 10px 5px 0 #ffffff23;
}
.btn:active {
    transform: scale(.98);
    background-color: #007afd;
    box-shadow:
     0 0 5px rgba(255, 255, 255, 0.05),
     inset 0 -10px 5px 0 #ffffff10
    ;
}

/* HAMBURGER MENU */
.container.active .bars {
    /* transform: rotate(-180deg); */
    background-color: transparent;
}
.container.active .bars::before {
    transform: translateY(0) rotate(45deg)
}
.container.active .bars::after {
    transform: translateY(0) rotate(-45deg)
}

.container.active .main {
    animation: main-animation var(--delay) ease-out;   
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(.5);  
    cursor: pointer;
}


@keyframes main-animation {
    from {
        transform: translate(0)
    }
    to {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(.5);
    }
}


/* LINKS */
.links {
    position: absolute;
    width: 30%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    text-align: center;
}

.links a {
    text-decoration: none;
    color: #eee;
    padding: .7rem 0;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateY(10px);
    animation: hide .5s forwards ease; 
    transition: var(--delay);
    user-select: none;
}

.links a:hover {
    color: #fff;
    font-weight: 500;
}

.container.active .links a {
    animation: appear .5s forwards ease var(--i);   
}


@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(10px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes hide {
    from {
        opacity: 1;
        transform: translateY(0)
    }
    to {
        opacity: 0;
        transform: translateY(10px)
    }
    
}


.shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: var(--delay);
    background-color: #fff;
}
.shadow.one {
    z-index:2;
    opacity: .15;
}
.shadow.two {
    z-index:2;    
    opacity: .1;
}

.container.active .shadow.one {
    animation: shadow-one var(--delay) ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(var(--shad-one-z)) scale(.5);  
}
.container.active .shadow.two {
    animation: shadow-two var(--delay) ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(var(--shad-two-z)) scale(.5);  
}

@keyframes shadow-one {
    0% { 
        transform: translateY(0);  
    }
    5% {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(.5);  
    }
    100% {
        transform: perspective(1300px) rotateY(20deg) translateZ(var(--shad-one-z)) scale(.5);  
    }
}

@keyframes shadow-two {
    0% { 
        transform: translateY(0);  
    }
    20% {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(.5);  
    }
    100% {
        transform: perspective(1300px) rotateY(20deg) translateZ(var(--shad-two-z)) scale(.5);
    }
}


.container.active .main:hover + .shadow.one {
    transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(.5);  
}

.container.active .main:hover {
    transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(.5);  
}


@media (max-width: 768px) {
    :root {
        --shad-one-z: 290px;
        --shad-two-z: 270px;
    }
    .title {
        font-size: 2rem;
        text-align: center;
    }
    .links {
        width: 40%;
    }
    .links a {
        padding: .7rem 1rem;
        font-size: 1rem;
    }
    .container.active .links {
        background: rgba(43,51,59,.75);
        z-index: 5;
    }
    .container.active .main {
        left:-100px;
        animation: main-animation var(--delay) ease-out;   
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(.5);  
        cursor: pointer;
    }
    .container.active .shadow.one {
        animation: shadow-one var(--delay) ease-out;
        left: -100px;
        transform: perspective(1300px) rotateY(20deg) translateZ(var(--shad-one-z)) scale(.5);  
    }
    .container.active .shadow.two {
        left: -100px;
        animation: shadow-two var(--delay) ease-out;
        transform: perspective(1300px) rotateY(20deg) translateZ(var(--shad-two-z)) scale(.5);  
    }
}